<% @inquiries.each do |inquiries| %>
  <table class="inquiriy">
    <tr>
      <td>No</td>
      <td>件名</td>
      <td>お問合せ内容</td>
    </tr>
    <tr>
      <td><%= inquiries.id %></td>
      <td><%= link_to inquiries.title, admin_inquiry_path(inquiries.id)%></td>
      <td><%= inquiries.content .truncate(24) %></td>
    </tr>
  </table>
<% end %>