<h2>メニュー一覧</h2>
<% @menus.each do |menu| %>
  <table class="menu_index">
    <tr>
      <td id="jquery">
        <%= link_to menu_path(menu.id) do %>
          <%= menu.name %>
        <% end %>
      </td>
      <td><%= menu.price %></td>
    </tr>
  </table>
<% end %>