@use '~bootstrap/scss/bootstrap';

ul li {
  list-style: none;
}

.home {
  text-align: center;
  margin-top: 23%;
}

.user_inquiry{
  width: 100%;
  margin-top: 30px;
}

.i_label{
  text_align: start;
}

.i_ele{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}


@media screen and (max-width:768px){
.home{
  text-align: center;
  background-color: blue;
  }
}

h1{
  font-size: 25px;
}

.user_inquiry{
  text-align: center;
  margin_top: 20px;
}
